.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.selfieWrapper {
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.highlight {
  border: 4px solid green;
}

.noborder {
  border: none;
}

.submit {
  flex-direction: column;
}